<aside
  class="bg-white shadow-md w-64 flex flex-col transition-all duration-300
         fixed md:relative h-full z-20
         md:translate-x-0"
  [class.-translate-x-full]="!isSidebarOpen() && isMobile"
>

  <!-- Brand -->
  <div class="flex items-center justify-between p-4 text-2xl font-semibold text-blue-600">

    <span>AdminPanel</span>

    <!-- Close button mobile -->
    <button
      class="md:hidden text-gray-600"
      (click)="isSidebarOpen.set(false)"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>

  </div>

  <!-- Navigation -->
  <nav class="mt-6 flex-1 space-y-1">

    <a
      routerLink="/"
       (click)="isSidebarOpen.set(false)"
       routerLinkActive="bg-blue-100 text-blue-700"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-blue-100 transition"
    >
      <i class="fa-solid fa-chart-line text-blue-600 w-5"></i>
      <span>Dashboard</span>
    </a>

    <a
      routerLink="/products"
       (click)="isSidebarOpen.set(false)"
       routerLinkActive="bg-blue-100 text-blue-700"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-blue-100 transition"
    >
      <i class="fa-solid fa-box text-blue-600 w-5"></i>
      <span>Products</span>
    </a>

    <a
      routerLink="/users"
       (click)="isSidebarOpen.set(false)"
       routerLinkActive="bg-blue-100 text-blue-700"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-blue-100 transition"
    >
      <i class="fa-solid fa-users text-blue-600 w-5"></i>
      <span>Users</span>
    </a>

  </nav>

</aside>